/* get fontFamily  HW */
/* create root  HW */
/* 
    create global class 
    - display HW
    - widthg
*/

/* class for Icon */
/* class for Text HW */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* bg */
    --bg-decor: rgb(16, 83, 243);
    --bg-white-middle: rgb(247, 249, 255);
    --bg-white: rgb(255, 255, 255);



    /* color */
    --text-color-black: rgb(16, 16, 16);
    --text-color-grey: rgb(117, 123, 138);
    --text-color-blue: rgb(16, 83, 243);
    --text-color-white: rgb(255, 255, 255);


    /* fs */
    --text-normal-fs: 12px;
    --text-normal-fs: 14px;
    --text-normal2-fs: 16px;
    --text-middle-fs: 36px;
    --text-big-fs: 40px;
    --text-middle-mv-fs: 48px;
    --text-top: 64px;

    /* ff */
    --text-normal-ff: "Inter", serif;
    --text-logo-ff: "Poppins", serif;


    /* width */
    --max-width-middle: 1100px;
    --max-width-big: 1200px;
}

/* Icon */

.icon-boll-size {
    width: 56px;
    height: 56px;
}

.icon-card-size {
    width: 10%;

}

.img-card-pay {
    width: 14%;
}

.icon-woman {}

/* dispay */
/* flex - row wisth (center) height (center) */
.f-r-c-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f-r-c-fs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.f-r-b-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.f-r-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.f-r-b-s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.f-r-fs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.f-r-fs-fs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
}
.f-c-fs-fs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

.f-c-c-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-column-c-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.f-c-fs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.f-r-se-c {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}


/* width */
.max-width-middle-content {
    max-width: var(--max-width-middle);
    width: 96%;
}

.max-width-big {
    max-width: var(--max-width-big);
}




/* Text */
.title-section {}

.text-black {}

.text-grey {}


/* size */

/* zero */

* {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    text-decoration: none;
    
}

body {
    overflow-x: hidden;
}

main {
    overflow-x: hidden;}


@media screen and (max-width: 1000px) {
    :root {
        --text-top: 44px; 
    }
}
@media screen and (max-width: 910px) {

    :root {
        /* fs */
        /* --text-normal-fs: 14px;
        --text-normal2-fs: 16px;
        --text-middle-fs: 36px; */
        --text-big-fs: 36px;
        /* --text-top: 64px; */
    }

    /* width */
    .max-width-middle-content {
        width: calc(100% - 40px);
    }

    .max-width-big {
    }

}